.textarea {
  resize: none;

  overflow: hidden;

  width: 100%;
  height: auto;
  padding: 0.5rem 1rem;

  font-size: var(--font-size-s);

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-700);
  border-radius: 5px;
}
